/* Stiluri generale */
body {
    font-family: 'Arial', sans-serif;
    color: white;
}

.dark-mode {
    background-color: #000; /* Fond negru pentru dark mode */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px; /* Spațiu egal între elemente */
}

.nav-links li {
    margin: 0 15px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Adaugă tranziție */
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a.active,
.nav-links a:hover {
    color: #ff4a8d;
}

.nav-links .button {
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    background-color: #ff4a8d;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-links .button:hover {
    background-color: #ff3268;
}

/* Hover effect for navigation links */
.nav-links li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

#darkModeToggle svg {
    width: 24px;
    height: 24px;
    fill: white;
    transition: transform 0.3s ease;
}

#darkModeToggle:hover svg {
    transform: rotate(20deg);
}

#login-link {
    display: inline-block;
    background-color: #ff4a8d;
    color: white;
    padding: 3px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#login-link:hover {
    background-color: #ff3268;
}

#logout-link {
    display: inline-block;
    background-color: #ff4a8d;
    color: white;
    padding: 3px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#logout-link:hover {
    background-color: #ff3268;
}

/* Stiluri specifice pentru dark mode */
.dark-mode body {
    background-color: #000; /* Fond negru */
    color: white; /* Text alb */
}


.dark-mode .logo {
    color: white; /* Logo alb */
}

.dark-mode .nav-links a {
    color: white; /* Link-uri albe */
}

.dark-mode .nav-links a.active,
.dark-mode .nav-links a:hover {
    color: #ff4a8d; /* Accent roșu-violet */
}

.dark-mode .button {
    background-color: #ff4a8d; /* Buton roșu-violet */
    color: white; /* Text alb */
}

.dark-mode .button:hover {
    background-color: #ff3268; /* Accent mai închis */
}